<div class="email-form" id="email-cell">

    <h5 class="text-center text-white" style="margin-right:30px;"> <i class="fas fa-envelope"></i> ĐĂNG KÍ NHẬN
        BẢN TIN
    </h5>

    <form action="/user-notification" method="POST">
        <input class="" type="email" placeholder="Nhập địa chỉ email của bạn" name="email">
        <button class="email-button">Đăng Ký</button>
    </form>

</div>

<div id="information-end" class="row bg-white" style="margin-top: 20px; padding-top: 30px;">
    <div id="address" class="col-4" style="border-right: 1px solid gray;">
        <img id="brand-img" class="mem-img"
            src="../../../public/image/logo.png" alt="web-logo">
        <p>Lầu 5, 387-389 Hai Bà Trưng Quận 3 TP HCM
            <br>Công Ty Cổ Phần Phát Hành Sách TP HCM - FAHASA
            <br>60 - 62 Lê Lợi, Quận 1, TP. HCM, Việt Nam
            <br>Fahasa.com nhận đặt hàng trực tuyến và giao hàng tận nơi.
            <br>KHÔNG hỗ trợ đặt mua và nhận hàng trực tiếp tại văn phòng cũng như tất cả Hệ Thống.
        </p>
        <div>
            <a href="https://www.facebook.com/profile.php?id=100015769656194">
                <i class="fab fa-facebook fa-2x"></i>
            </a>
            <a href="#">
                <i class="fab fa-instagram fa-2x"></i>
            </a>
            <a href="#">
                <i class="fab fa-youtube fa-2x"></i>
            </a>
            <a href="#">
                <i class="fab fa-twitter fa-2x"></i>
            </a>
            <a href="#">
                <i class="fab fa-pinterest fa-2x"></i>
            </a>
        </div>
    </div>
    <div class="col-8" style="margin-top:10px;" id="info-company">
        <div class="row">
            <div class="col-4">
                <h6>DỊCH VỤ</h6>
                <p>Điều khoản sử dụng</p>
                <p>Giới thiệu Fahasa</p>
                <p>Hệ thống trung tâm - nhà sách</p>
                <p>Chính sách bảo mật</p>
            </div>
            <div class="col-4">
                <h6>ĐỔI TRẢ - BẢO HÀNH</h6>
                <p>Điều khoản sử dụng</p>
                <p>Giới thiệu Fahasa</p>
                <p>Hệ thống trung tâm - nhà sách</p>
                <p>Chính sách bảo mật</p>
            </div>
            <div class="col-4">
                <h6>TÀI KHOẢN CỦA TÔI</h6>
                <p>Điều khoản sử dụng</p>
                <p>Giới thiệu Fahasa</p>
                <p>Hệ thống trung tâm - nhà sách</p>
                <p>Chính sách bảo mật</p>
            </div>
        </div>
        <div class="row">
            <h6 class="col-9">Liên Hệ</h6>
        </div>
        <div class="row">
            <p class="col"><i class="fas fa-map-marker-alt"></i> 60-62 Lê Lợi, Q.1, TP. HCM</p>
            <p class="col"><i class="fas fa-envelope"></i> info@fahasa.com</p>
            <p class="col"><i class="fas fa-phone"></i> 012484541123212</p>
        </div>
        <div class="">
            <img src="https://www.fahasa.com/media/wysiwyg/Logo-NCC/ahamove_logo.png" class="mem-img-4-2">
            <img src="https://www.fahasa.com/media/wysiwyg/Logo-NCC/icon_giao_hang_nhanh.png" class="mem-img-4-2">
            <img src="https://www.fahasa.com/media/wysiwyg/Logo-NCC/icon_snappy.png" class="mem-img-4-2">
        </div>
    </div>
    <div class="bg-white col-12 text-center">
        <small>
            Giấy chứng nhận Đăng ký Kinh doanh số **0304132047** do Sở Kế hoạch và Đầu tư Thành phố Hồ Chí Minh
            cấp ngày 28/11/2012.
        </small>
    </div>
</div>